@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');

.checked{
    text-decoration: line-through;
}


body {
    background: #ddddaf;
	padding: 10px;
	margin: 0;
	font-family: 'Cairo', sans-serif;
	line-height: 1.6;
}


